.container{
    display: grid;
    grid-template-rows: 33% 66%;
}

.allMoviesContainer {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.9%;
    padding-left: 11%;
    padding-right: 11%;

}

.movieCard {
    height: 550px;
    width: 370px;
    position: relative;
    text-align: center;
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
}

.title {
    position: relative;
    bottom: 25px;
    left: 16px;
    color:white;
}
.year {
    position: relative;
    bottom: 8px;
    left: 16px;
    color: white;
}